################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Advanced-study/.vs/Advanced-study/v17/.suo
/Advanced-study/.vs/Advanced-study/v17/DocumentLayout.backup.json
/Advanced-study/.vs/Advanced-study/v17/DocumentLayout.json
/Advanced-study/.vs/Advanced-study/v17/Preview/Browse.VC.db
/Advanced-study/.vs/Advanced-study/v17/Preview/Browse.VC.db-shm
/Advanced-study/.vs/Advanced-study/v17/Preview/Browse.VC.db-wal
/Advanced-study/.vs/Advanced-study/v17/Preview/Browse.VC.opendb
/Advanced-study/.vs/Advanced-study/v17/Preview/ipch/AutoPCH/c94f564aa9ee1aec/IMPORTS.ipch
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.tlog/Advanced-study.lastbuildstate
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.tlog/CL.command.1.tlog
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.tlog/Cl.items.tlog
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.tlog/CL.read.1.tlog
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.tlog/CL.write.1.tlog
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.tlog/link.command.1.tlog
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.tlog/link.read.1.tlog
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.tlog/link.secondary.1.tlog
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.tlog/link.write.1.tlog
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.Build.CppClean.log
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.exe.recipe
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.ilk
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.log
/Advanced-study/Advanced-study/x64/Debug/Advanced-study.vcxproj.FileListAbsolute.txt
/Advanced-study/Advanced-study/x64/Debug/Core.obj
/Advanced-study/Advanced-study/x64/Debug/vc143.idb
/Advanced-study/Advanced-study/x64/Debug/vc143.pdb
/Advanced-study/Advanced-study/x64/Debug/vcpkg.applocal.log
/Advanced-study/Advanced-study/x64/Release/Advanced-study.Build.CppClean.log
/Advanced-study/Advanced-study/x64/Release/Advanced-study.exe.recipe
/Advanced-study/Advanced-study/x64/Release/Advanced-study.iobj
/Advanced-study/Advanced-study/x64/Release/Advanced-study.ipdb
/Advanced-study/Advanced-study/x64/Release/Advanced-study.log
/Advanced-study/Advanced-study/x64/Release/Advanced-study.tlog/Advanced-study.lastbuildstate
/Advanced-study/Advanced-study/x64/Release/Advanced-study.tlog/CL.command.1.tlog
/Advanced-study/Advanced-study/x64/Release/Advanced-study.tlog/Cl.items.tlog
/Advanced-study/Advanced-study/x64/Release/Advanced-study.tlog/CL.read.1.tlog
/Advanced-study/Advanced-study/x64/Release/Advanced-study.tlog/CL.write.1.tlog
/Advanced-study/Advanced-study/x64/Release/Advanced-study.tlog/link.command.1.tlog
/Advanced-study/Advanced-study/x64/Release/Advanced-study.tlog/link.read.1.tlog
/Advanced-study/Advanced-study/x64/Release/Advanced-study.tlog/link.secondary.1.tlog
/Advanced-study/Advanced-study/x64/Release/Advanced-study.tlog/link.write.1.tlog
/Advanced-study/Advanced-study/x64/Release/Advanced-study.vcxproj.FileListAbsolute.txt
/Advanced-study/Advanced-study/x64/Release/Core.obj
/Advanced-study/Advanced-study/x64/Release/vc143.pdb
/Advanced-study/Advanced-study/x64/Release/vcpkg.applocal.log
/Advanced-study/.vs/Advanced-study/v17/Preview/ipch/AutoPCH/24fc2ada30736ac2/CORE.ipch
/Advanced-study/.vs/Advanced-study/v17/Preview/ipch/AutoPCH/51335efa36376b87/PROTOTYPESIMPLEMENTS.ipch
/Advanced-study/.vs/Advanced-study/v17/Preview/ipch/AutoPCH/973fb03c57bb0170/CORE.ipch
/Advanced-study/.vs/Advanced-study/FileContentIndex/223413a6-041c-40c7-91f5-b6cd31099d7b.vsidx
/Advanced-study/.vs/Advanced-study/FileContentIndex/5837e9cc-868b-4a3f-a7d2-4a5d0bcc9bfa.vsidx
/Advanced-study/.vs/Advanced-study/FileContentIndex/d3dee694-fdfd-4cfa-9dfb-df627e656b2b.vsidx
/Advanced-study/.vs/Advanced-study/FileContentIndex/fc7bb376-6eec-4bbe-841c-639ea098d42f.vsidx
/Advanced-study/.vs/Advanced-study/FileContentIndex/fdf3edaa-249f-4e6e-aa79-e587c75f0907.vsidx
*.exe
*.pdb
*.user
*.filters
/Advanced-study/.vs/Advanced-study/FileContentIndex/09a3154c-973b-419f-ab5c-9122bbd6d5c3.vsidx
/Advanced-study/.vs/Advanced-study/FileContentIndex/535d31ca-2c28-4712-858d-95824209866f.vsidx
/Advanced-study/.vs/Advanced-study/FileContentIndex/7ed42395-2c01-441c-a714-b61b60b4f65d.vsidx
/Advanced-study/.vs/Advanced-study/FileContentIndex/a35ac8e8-b486-48a3-b0a3-399998c1cb68.vsidx
/Advanced-study/.vs/Advanced-study/FileContentIndex/b3b7db39-0784-4b3b-bf26-00b7520e9be7.vsidx
/Advanced-study/.vs/Advanced-study/v17/Preview/ipch/AutoPCH/f19affa98df1efd6/FILEMANAGER.ipch
*.vsidx
*.cache
*.editorconfig
*.txt
*.props
*.targets
*.v2
*.ipch
*.tlog
*.recipe
/Advanced-study/Advanced-study/Debug/Advanced-study.log
/Advanced-study/Advanced-study/Debug/vcpkg.applocal.log
*.idb
*.obj
*.ilk
/Advanced-study/Advanced-study/x64/Debug/FileManager.obj
*.enc
/Advanced-study/Bank-service-system/bin/Debug/net8.0/appsettings.Development.json
/Advanced-study/Bank-service-system/bin/Debug/net8.0/appsettings.json
/Advanced-study/Bank-service-system/bin/Debug/net8.0/Bank-service-system.deps.json
/Advanced-study/Bank-service-system/bin/Debug/net8.0/Bank-service-system.dll
/Advanced-study/Bank-service-system/bin/Debug/net8.0/Bank-service-system.runtimeconfig.json
/Advanced-study/Bank-service-system/bin/Debug/net8.0/Bank-service-system.staticwebassets.endpoints.json
/Advanced-study/Bank-service-system/bin/Debug/net8.0/Microsoft.OpenApi.dll
/Advanced-study/Bank-service-system/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/Advanced-study/Bank-service-system/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/Advanced-study/Bank-service-system/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
